# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.Explore the concept of Data science

**Objectives:**

some of the key takeaways from the course:

*   popular languages for Data Science

*   popular Libraries in Data Science
*   Data Science Tools

*   Evaluate the expression

*   Converts minute in hours

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R

1.   Java
2.   Julia

1.   Sql

Some of the popular Libraries in Data Science includes are:


1.   Pandas
2.   Numpy

1.   Matplotlib

1.   Scipy
2.  Scitkit-learn

### **Data Science Tools**



1.   Jupyter notebook

1.   RStudio
2.   Apache zappelin

### Below are a few examples of evaluating arithmetic expressions in Python

Evaluate the expression

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

Evaluate the expression to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60
hrs = round(200/60,3)

print(f"200 minutes is equal to {hrs} hours")

200 minutes is equal to 3.333 hours

## **Author**

Muhammad Talha